* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  margin-bottom: 35%;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.clock {
  width: 40vw;
  height: 40vw;
  background-color: rgb(34, 50, 54);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* box-shadow: 10px 10px 100px rgba(185, 86, 86, 0.8),
    -10px -10px 100px rgba(185, 86, 86, 0.8); */
  box-shadow: 5px 2px 50px rgba(214, 100, 100, 0.8),
    -5px -2px 50px rgba(69, 200, 204, 0.8);
}
.num {
  position: absolute;
  color: white;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(30deg * var(--v)));
}
.num b {
  transform: rotate(calc(-30deg * var(--v)));
  display: inline-block;
}
.dot {
  position: absolute;
  height: 7%;
  width: 7%;
  border-radius: 50%;
  background-color: rgb(34, 50, 54);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8), -1px -2px 10px rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.digi-clock {
  width: 30%;
  height: 10%;
  position: absolute;
  background-color: black;
  bottom: 24%;
  background: transparent;
  box-shadow: inset 1px 2px 10px rgba(0, 0, 0, 0.8),
    -1px -2px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 6%;
  color: white;
}
.dh {
  color: rgb(184, 115, 66);
}
.dm {
  color: rgb(57, 169, 197);
}
.ds {
  color: rgb(39, 150, 85);
}
.line {
  position: absolute;
  background: #000;
  border-radius: 20px;
  transform-origin: bottom;
}
.hour-hand {
  width: 1%;
  height: 30%;
  top: 20.5%;
  background-color: rgb(184, 115, 66);
}
.min-hand {
  width: 1%;
  height: 38%;
  top: 12.5%;
  background-color: rgb(57, 169, 197);
}
.sec-hand {
  width: 1%;
  height: 38%;
  top: 12.5%;
  background-color: rgb(39, 150, 85);
}
@media (max-width: 700px) {
  .clock {
    width: 80vw;
    height: 80vw;
  }
  .digi-clock {
    width: 35%;
    height: 10%;
    font-size: 6vw;
  }

  .num b {
    font-size: 6vw;
  }
  h3 {
    font-size: 15px;
  }
}
